@model PUp.ViewModels.AddTaskViewModel
@{
    ViewBag.Title = "Add Task to Project:" + Model.Project.Name;
}


<div class="panel">
    <div class="panel-heading">
        <div class="panel-title">
            <b>New task for project: @Model.Project.Name</b>
        </div>
        <p>Avelaible hours for today: 
          @foreach(var vK in Model.AvelaibleDates.Interval)
          {
              if (!vK.Value)
              {
                  @vK.Key<i>H |</i> 
              }
          }
        </p>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            <div class="form-group">
                <label class="control-label">Title</label>
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Title)
            </div>

            <div class="form-group">
                <label class="control-label">Important</label>
                @Html.DropDownListFor(m => m.Important, Model.ImportantList, "Select one")
            </div>

            <div class="form-group">
                <label class="control-label">Urgent</label>
                @Html.DropDownListFor(m => m.Urgent, Model.UrgentList, "Select one")
            </div>
            <div class="form-group">
                <label class="control-label">Assigned To</label>
                @Html.DropDownListFor(m => m.ExecutorId, Model.UsersList, "Select one")
            </div>

            <div class="form-group">
                <label class="control-label">This task is a key factor </label>
                @Html.CheckBoxFor(m => m.KeyFactor)
            </div>
            <div class="form-group">
                <label class="control-label">Description</label>
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Description)
            </div> 

            <div class="form-group">
                <label class="control-label">Estimated time</label>
                @Html.DropDownListFor(m => m.EstimatedTimeInMinutes, Model.EstimatedMinList, "Select one")
            </div> 

            <div class="form-group">
                <label class="control-label">Start At:</label>

                @Html.TextBoxFor(m => m.StartAt, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.StartAt)
                <small>You may specify it later!</small>
            </div>

            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.IdProject)
            <input type="submit" value="Save" class="btn btn-primary" />
        }
    </div>

</div>




