@model PUp.ViewModels.Task.TaskViewModel 
@{
    ViewBag.Title = "Tasks list";
}
<div id="conf" data-url="@Url.Action("ChangeState", "Task")">
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <a href="@Url.Action("Add", "Task", new { id = Model.Project.Id } )" class="btn">
                Add a Task
            </a>
            <div style="text-align:center;padding:10px;">
                <a href="@Url.Action("Details", "Project", new {id = Model.Project.Id })">
                    @Model.Project.Name
                </a>
                <div class="card-block">
                    <p class="card-text">
                        From: <b>@Model.Project.StartAt.ToString("d/MMM yyyy")</b>
                        To  : <b>@Model.Project.EndAt.ToString("d/MMM yyyy")</b>
                        Progress:
                        @if (Model.Project.Tasks.Count() > 0)
                        {
                            <span>@((Model.Project.Tasks.Where(t => t.Done == true).Count() / (float)Model.Project.Tasks.Count() * 100))%</span>
                        }
                        else
                        {
                            <b>0 %</b>
                        }
                        <small style="color:crimson;"> ( Time left: @((int)(Model.Project.EndAt - DateTime.Now).TotalDays) days )</small>
                    </p>
                </div>
            </div>
        </div>

        
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">
                    <b>Active tasks</b>
                </div>
            </div>
            <div class="panel-body">
                @Html.Partial("_TaskList", Model.ActiveTasks)
            </div>
        </div>

        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">
                    <b>Deleted tasks</b>
                </div>
            </div>
            <div class="panel-body">
                @Html.Partial("_TaskList", Model.DeletedTasks)
            </div>
        </div>

    </div>
</div>
<!-- TODO re organise js imports!-->
<script src="~/Scripts/src/app/Shared/HttpCall.js"></script>
<script src="~/Scripts/src/app/Shared/Models/Entity.js"></script>
<script src="~/Scripts/src/app/Tasks/TaskApp.js"></script>
