@model PUp.Models.Entity.ProjectEntity
@{
    ViewBag.Title = "Tasks list";
}
@using PUp.Models.SimpleObject
<div id="conf" data-url="@Url.Action("ChangeState", "Task")">
</div>
<div class="row">
    <div class="col-md-12">
        <a href="@Url.Action("Add", "Task", new { id = Model.Id } )" class="btn">
            Add a Task
        </a>
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">
                    <b>Tasks list for project: @Model.Name</b>
                </div>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Title</td>
                            <td>Done</td>
                            <td>Key factor</td>
                            <td style="width:13%;">Added at</td>
                            <td>Assigned to</td>
                            <td>Description</td>

                            <td style="width:2%;"></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var task in Model.Tasks.Where(t=>t.Deleted==false))
                        {
                            <tr class="v @(@task.Done ? "done" : " ")">
                                <td> @task.Title</td>
                                <td>
                                    @if (task.Done)
                                    {
                                        @task.FinishAt
                                    }
                                    else { <b>In progress</b>}
                                </td>
                                <td> @(task.KeyFactor ? "Yes" : "No")</td>
                                <td>@task.AddAt.ToString("HH:mm d-MMM yyyy ")</td>
                                <td>
                                    @task.Executor.Name
                                </td>
                                <td> @task.Description</td>
                                <td>
                                    <div class="dropdown pull-right">
                                        <button class="btn btn-default dropdown-toggle" type="button" id="dd-ctrl-tasks" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <i class="fa fa-cog"></i>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dd-ctrl-tasks">
                                            <li>
                                                <a class="btn changeState" id="@task.Id">
                                                    <i class="fa fa-check-square"></i> Mark done
                                                </a>
                                            </li>
                                            <li>
                                                @Html.ActionLink("Edit", "Edit", "Task", new { id = task.Project.Id, taskId = task.Id }, new { @class = "btn" })
                                            </li>
                                            <li>
                                                @Html.ActionLink("Delete", "Delete", "Task", new { id = task.Id }, new { @class = "btn" })
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- TODO re organise js imports!-->
<script src="~/Scripts/src/app/Shared/HttpCall.js"></script>
<script src="~/Scripts/src/app/Shared/Models/Entity.js"></script>
<script src="~/Scripts/src/app/Tasks/TaskApp.js"></script>
