@model PUp.ViewModels.AddProjectViewModel
@{
    ViewBag.Title = "Add new project";
}

<div class="panel">
    <div class="panel-heading">
        <div class="panel-title">
            <b>New Project</b>
        </div>

    </div>
    <div class="panel-body">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @using (Html.BeginForm())
        {
            <div class="form-group">
                <label class="control-label">Project title:</label>
                 
                    @Html.TextBoxFor(m => m.Name, new {@class="form-control" })
                    @Html.ValidationMessageFor(m => m.Name)
                
            </div>

            <div class="form-group">
                <label class="control-label">Benifite</label>
                @Html.TextAreaFor(m => m.Benifite, new { @class = "form-control", @rows = 15 })
                @Html.ValidationMessageFor(m => m.Benifite)
            </div>

            <div class="form-group">
                <label class="control-label">Objectives</label>
                @Html.TextAreaFor(m => m.Objective, new { @class = "form-control",@rows = 15 })
                @Html.ValidationMessageFor(m => m.Objective)
            </div>

            <div class="form-group">
                <label class="control-label">Start At:</label>
                
                    @Html.TextBoxFor(m => m.StartAt, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.StartAt)
               
            </div>
           
            <div class="form-group">
                <label class="control-label">End At:</label>
               
                    @Html.TextBoxFor(m => m.EndAt, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.EndAt)
               
            </div>
            

           <input type="submit" value="Save" class="btn btn-primary" />
                 
            //  @Html.ActionLink("Create project", "CreerCompte")
        }
    </div>

</div>

