@model PUp.Models.Entity.ProjectEntity
@{
    ViewBag.Title = "List of contributors";
}
@using PUp.Models.Entity
@{
    var contributors = new HashSet<UserEntity>();
    contributors.Add(Model.Owner);
    Model.Contributors.All(c => contributors.Add(c));

}
<div id="conf" data-url="@Url.Action("ChangeState", "Task")">
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel">

            <div style="text-align:center;padding:10px;">
                <a href="@Url.Action("Details", "Project", new {id = Model.Id })">
                    @Model.Name
                </a>
                <div class="card-block">
                    <p class="card-text">
                        From: <b>@Model.StartAt.ToString("d/MMM yyyy")</b>
                        To  : <b>@Model.EndAt.ToString("d/MMM yyyy")</b>
                        Progress:
                        @if (Model.Tasks.Count() > 0)
                        {
                            <span>@((Model.Tasks.Where(t => t.Done == true).Count() / (float)Model.Tasks.Count() * 100))%</span>
                        }
                        else
                        {
                            <b>0 %</b>
                        }
                        <small style="color:crimson;"> ( Time left: @((int)(Model.EndAt - DateTime.Now).TotalDays) days )</small>
                    </p>
                </div>
            </div>
        </div>


        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">
                    <b>Contributors list</b>
                </div>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Email</td>
                            <td style="width:2%;"></td>
                        </tr>
                    </thead>
                    <tbody>
                        @{int index = 0;}
                        @foreach (var contributor in contributors)
                        {
                            <tr>
                                <td>@contributor.Name </td>
                                <td>@contributor.Email</td>
                            </tr>
                            index++;
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<!-- TODO re organise js imports!-->
<script src="~/Scripts/src/app/Shared/HttpCall.js"></script>
<script src="~/Scripts/src/app/Shared/Models/Entity.js"></script>
<script src="~/Scripts/src/app/Tasks/TaskApp.js"></script>
