@model PUp.ViewModels.Project.ProjectTimelineViewModel
@{
    ViewBag.Title = "Project details";
}
@using PUp.Models.Entity

<div class="container">
    <div class="row">
        <div class="timeline-centered">

            <article class="timeline-entry">

                <div class="timeline-entry-inner">

                    <div class="timeline-icon">
                        <i class="fa fa-hourglass-start"></i>
                    </div>

                    <div class="timeline-label">
                        <h2><a href="#">Project start</a> <span>@Model.Project.StartAt.ToString("d/MMM yyyy")</span></h2>
                        <p>Objective: <i class="fa fa-chevron-right"></i> @Model.Project.objective </p>
                        <p>Benifites: <i class="fa fa-chevron-right"></i>@Model.Project.benifite</p>
                    </div>
                </div>

            </article>

            @foreach (var element in Model.Elements)
            {
                if (element is TaskEntity)
                {
                    <article class="timeline-entry">
                        <div class="timeline-entry-inner">
                            <div class="timeline-icon timeline-icon-task">
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="timeline-label">
                                <h2>
                                    <a href="#">
                                        @(  ((TaskEntity)element).Title )
                                    </a>
                                </h2>
                                <p>
                                    @(  ((TaskEntity)element).Description )
                                    <strong> @(  ((TaskEntity)element).AddAt.ToShortTimeString() )  </strong>
                                </p>
                            </div>
                        </div>
                    </article>
                }
                if (element is NotificationEntity)
                {
                    <article class="timeline-entry">
                        <div class="timeline-entry-inner">
                            <div class="timeline-icon bg-secondary">
                                <i class="fa fa-bullhorn"></i>
                            </div>
                            <div class="timeline-label">
                                <h2>
                                    <a href="#">
                                        @(  ((NotificationEntity)element).Message )
                                    </a>
                                </h2>
                                <p> <a href="@(  ((NotificationEntity)element).Url )"> Details</a></p>
                            </div>
                        </div>
                    </article>
                }

                if (element is IssueEntity)
                {
                    <article class="timeline-entry">
                        <div class="timeline-entry-inner">
                            <div class="timeline-icon bg-secondary">
                                <i class="fa fa-exclamation-circle"></i>
                            </div>
                            <div class="timeline-label">
                                <h2>
                                    <a href="#">
                                        @(  ((IssueEntity)element).Description )
                                    </a>
                                </h2>
                                <p>Status:  @(  ((IssueEntity)element).Status ) </p>
                                <p>Related area(s):  @(  ((IssueEntity)element).RelatedArea ) </p>
                            </div>
                        </div>
                    </article>
                }
            }
            <article class="timeline-entry begin">

                <div class="timeline-entry-inner">

                    <div class="timeline-icon" style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);">
                        <i class="fa fa-hourglass"></i>
                    </div>

                </div>

            </article>

        </div>


    </div>
</div>