@model PUp.ViewModels.Project.ProjectTimelineViewModel
@{
    ViewBag.Title = "Project details";
}
@using PUp.Models.Entity

<div class="container">
    <div class="row">
        <div class="timeline-centered">

            <article class="timeline-entry">

                <div class="timeline-entry-inner">

                    <div class="timeline-icon">
                        <i class="fa fa-hourglass-start"></i>
                    </div>

                    <div class="timeline-label">
                        <h2>@Model.Project.Name</h2> <span>@Model.Project.StartAt.ToString("dd/MMM yyyy")</span>
                        <p>Objective : @Model.Project.Objective </p>
                        <p>Benifites : @Model.Project.Benifite  </p>
                    </div>
                </div>

            </article>

            @foreach (var element in Model.Elements)
            {
                if (element is TaskEntity)
                {
                    <article class="timeline-entry">
                        <div class="timeline-entry-inner">
                            <div class="timeline-icon timeline-icon-task">
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="timeline-label">
                                <h2> @(  ((TaskEntity)element).Title ) </h2><span> @(  ((TaskEntity)element).AddAt.ToString("dd/MMM yyyy") )  </span>
                                <p>
                                    @(  ((TaskEntity)element).Description )
                                </p>
                            </div>
                        </div>
                    </article>
                }
                if (element is NotificationEntity)
                {
                    <article class="timeline-entry">
                        <div class="timeline-entry-inner">
                            <div class="timeline-icon bg-secondary">
                                <i class="fa fa-bullhorn"></i>
                            </div>
                            <div class="timeline-label">
                                <h2> @(  ((NotificationEntity)element).Message )</h2>
                                <p> <a href="@(  ((NotificationEntity)element).Url )"> Details</a></p>
                            </div>
                        </div>
                    </article>
                }

                if (element is IssueEntity)
                {
                    <article class="timeline-entry">
                        <div class="timeline-entry-inner">
                            <div class="timeline-icon bg-secondary">
                                <i class="fa fa-exclamation-circle"></i>
                            </div>
                            <div class="timeline-label">
                                <h2> @(  ((IssueEntity)element).Description ) </h2>
                                <p>Status:  @(  ((IssueEntity)element).Status=="0" ? "In progress" : "Done" ) </p>
                                <p>Related area(s):  @(  ((IssueEntity)element).RelatedArea ) </p>
                            </div>
                        </div>
                    </article>
                }
            }
            <article class="timeline-entry begin">

                <div class="timeline-entry-inner">

                    <div class="timeline-icon" style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);">
                        <i class="fa fa-hourglass"></i>
                    </div>
                    <div class="timeline-label">
                        <p>End</p>
                        <span>@Model.Project.EndAt.ToString("dd/MMM yyyy")</span>
                    </div>
                </div>
            </article>

        </div>


    </div>
</div>