@model  PUp.ViewModels.Project.MatrixViewModel
@{
    ViewBag.Title = "Matrix ";
}


<div class="container">
    <div class="col-md-12">
        <div class="panel">
            <div style="text-align:center;padding:10px;">
                <h3>
                    <a href="@Url.Action("Details", "Project", new {id = Model.Project.Id })">
                        @Model.Project.Name
                    </a>
                </h3>
                <div class="card-block">
                    <p class="card-text">
                        From: <b>@Model.Project.StartAt.ToString("dd/MMM yyyy")</b>
                        To  : <b>@Model.Project.EndAt.ToString("dd/MMM yyyy")</b>
                        &emsp;&emsp;
                        Progress:
                        @if (Model.Project.Tasks.Count() > 0)
                        {
                            <span>@((Model.Project.Tasks.Where(t => t.Done == true).Count() / (float)Model.Project.Tasks.Count() * 100))%</span>
                        }
                        else 
                        {   
                            <b>0 %</b>
                        }
                        &emsp;&emsp;
                        <span style="color:crimson;"> @((int)(Model.Project.EndAt - DateTime.Now).TotalDays) days left</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="row" id="matrix-container">
            <h3>
                <i class="fa fa-object-ungroup" style="color: #E91E63;"></i>
                Tasks by importance/urgence
            </h3>
            <table class="table table-no-border matrix">
                <tr>
                    <th></th>
                    <th>Urgent</th>
                    <th>NOT Urgent</th>
                </tr>
                <tr>
                    <td><b class="rotate-txt">Critical</b></td>
                    <td style="background: #F44336; color: white;">
                        @foreach (var task in Model.ImportantAndUrgent)
                        {
                            <i class="fa fa-angle-right"></i>  @task.Title <br />
                        }
                    </td>

                    <td style="background: #FFC107;color: white;">
                        @foreach (var task in Model.ImportantNotUrgent)
                        {
                            <i class="fa fa-angle-right"></i>  @task.Title <br />
                        }
                    </td>
                </tr>

                <tr>
                    <td><b class="rotate-txt">Not critical</b></td>
                    <td style="background: #00BCD4;color: white;">
                        @foreach (var task in Model.NotImportantButUrgent)
                        {
                            <i class="fa fa-angle-right"></i>  @task.Title <br />
                        }
                    </td>
                    <td style="background: rgb(205, 220, 57);color: white;">
                        @foreach (var task in Model.NotImportantNotUrgent)
                        {
                            <i class="fa fa-angle-right"></i>  @task.Title <br />
                        }
                    </td>
                </tr>
            </table>

            <h3>
              <i class="fa fa-lightbulb-o" style="color: #FFC107;"></i>
               Suggestions for tasks based on importance/urgence
             </h3>
            <table class="table">
                <tr>
                    <td style="color: #F44336;font-size: 26px;">Do now</td>
                    <td>
                        @foreach (var task in Model.ImportantAndUrgent)
                        {
                            <i class="fa fa-angle-right"></i>  @task.Title <br />
                        }
                    </td>
                </tr>
                <tr>
                    <td style="color: #FFC107;font-size: 23px;">Delegate</td>
                    <td>
                        @foreach (var task in Model.NotImportantButUrgent)
                        {
                            <i class="fa fa-angle-right"></i>  @task.Title <br />
                        }
                    </td>
                </tr>

                <tr>
                    <td style="color: #00BCD4;font-size: 20px;line-height: 167%;">Do later</td>
                    <td>
                        @foreach (var task in Model.ImportantNotUrgent)
                        {
                            <i class="fa fa-angle-right"></i>  @task.Title <br />
                        }
                    </td>
                </tr>
                <tr>
                    <td style="color: rgb(205, 220, 57);font-size: 15px;line-height: 197%;">Delete/Postpone</td>
                    <td>
                        @foreach (var task in Model.NotImportantNotUrgent)
                        {
                            <i class="fa fa-angle-right"></i>  @task.Title <br />
                        }
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>