@{
    ViewBag.Title = "Home Page";
}

<div class="alert alert-danger" id="notif"> </div>
<b>Current User</b> @ViewBag.CurrentUser <br />
<div class="row">
    <div class="col-md-12">
        <h2>Pending Tasks</h2>
        <div class="panel panel-danger">
            <button class="btn btn-default" id="updateTasks">Update!</button>
        </div>
        <a href="~/Project/Add" title="Add project" class="btn btn-danger">New Project</a>
        <table class="table">
            <thead>
            <th>#</th>
            <th>Title</th>
            </thead>
            <tbody>
                @{int i = 0;}
                @foreach (var project in @ViewBag.Projects)
                {
                    i++;
                    <tr>
                        <td>
                            @i
                        </td>
                        <td>
                            @project.Name  | 
                            <b>Tasks</b><br />
                            @foreach (var task in  project.Tasks)
                            {   
                                <ul>
                                    @project.Id |     <li> @task.Title</li>
                                </ul>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <script src="~/Scripts/src/app/Home/App.js"></script>
