@{
    ViewBag.Title = "Home Page";
}
 

<div class="row">
    <div class="col-md-12">


        <a href="~/Project/Add" title="Add project" class="btn btn-link confirm">New Project</a>
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">
                    <b>New Project</b>
                </div>

            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <th>#</th>
                    <th>Title</th>
                    <th>Action</th>
                    </thead>
                    <tbody>
                        @{int i = 0;}
                        @foreach (var project in @ViewBag.Projects)
                        {
                            i++;
                            <tr>
                                <td>
                                    @i
                                </td>
                                <td>
                                    <a href="@Url.Action("Index", "Task", new { id = project.Id } )">
                                      @project.Name
                                    </a>
                                </td>
                                <td>

                                  @Html.ActionLink(
                                        "Edit",                                     // linkText
                                        "Edit",                                    // actionName
                                        "Project",                                  // controllerName
                                        new
                                        {                                           // routeValues
                                            id = project.Id
                                        },
                                       new                                        // htmlAttributes
                                       {
                                           @class = "btn"
                                       }
                                   )

                                  @Html.ActionLink(
                                        "Delete",                                     // linkText
                                        "Remove",                                    // actionName
                                        "Project",                                  // controllerName
                                        new
                                        {                                           // routeValues
                                            id = project.Id
                                        },
                                       new                                        // htmlAttributes
                                       {
                                           @class = "btn btn-danger confirm"
                                       }
                                   )
                                   
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
    <script src="~/Scripts/src/app/Home/App.js"></script>
