<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="~/Project.ico" />
    <title>@ViewBag.Title - Project follow up</title>
    @Styles.Render("~/Scripts/style/Content/css")

    @*@Scripts.Render("~/bundles/libs")*@
    @*@Scripts.Render("~/bundles/theme/js")*@

    <script src="~/Scripts/js/modernizr.min.js"></script>


    <!-- jQuery  -->
    <script src="~/Scripts/js/jquery.min.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <script src="~/Scripts/js/detect.js"></script>
    <script src="~/Scripts/js/fastclick.js"></script>
    <script src="~/Scripts/js/jquery.slimscroll.js"></script>
    <script src="~/Scripts/js/jquery.blockUI.js"></script>
    <script src="~/Scripts/js/waves.js"></script>
    <script src="~/Scripts/js/jquery.nicescroll.js"></script>
    <script src="~/Scripts/js/jquery.scrollTo.min.js"></script>

    <script>
            var resizefunc = [];
    </script>


    <!-- App js -->
    <script src="~/Scripts/js/jquery.core.js"></script>
    <script src="~/Scripts/js/jquery.app.js"></script>

    

    @RenderSection("scripts", required: false)



</head>
<body>
    <div id="wrapper" style="margin: 0 4%;">
        <div class="main-navbar main-navbar-fixed-top" id="main-navbar">
            <div class="main-navbar-content">
                @if (Request.IsAuthenticated)
                {
                    <div class="icon left" id="toggle-sidebar">
                        <i class="fa fa-navicon fa-2x"></i>
                    </div>

                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()

                        <ul class="nav navbar-nav navbar-right">
                            <li id="notification_li">
                                @using PUp.Models.Repository
                                @if (@UserRepository.CurrentUserNotifications().Count > 0)
                                {
                                    <span id="notification_count">@UserRepository.CurrentUserNotifications().Count</span>
                                    <a href="#" id="notificationLink">Notifications</a>
                                    <div id="notificationContainer">
                                        <div id="notificationTitle">Notifications</div>
                                        <div id="notificationsBody" class="notifications">
                                            @foreach (var notif in UserRepository.CurrentUserNotifications().OrderByDescending(c => c.AddAt))
                                            {
                                                <div class="notificationElement notificationElement_@(notif.Level)"
                                                     data-idnotif="@notif.Id" id="@notif.Id">
                                                    <i style="font-size:19px;" class="fa fa-remove pull-right"> </i>
                                                    @notif.Message     <br />
                                                    @{ var diff = DateTime.Now - notif.AddAt;  }
                                                    <i>
                                                        @if (diff.TotalMinutes < 1)
                                                        {
                                                            <span>@((int)diff.TotalSeconds) s ago</span>
                                                        }
                                                        else if (diff.TotalHours < 1)
                                                        {
                                                            <span>@((int)diff.TotalMinutes) min ago</span>
                                                        }
                                                        else if (diff.TotalDays < 1)
                                                        {
                                                            <span>since: @notif.AddAt.ToString("HH\\Hmm")</span>
                                                        }
                                                        else
                                                        {
                                                            <span>since: @notif.AddAt.ToString("d-MM-yyyy HH\\Hmm")</span>
                                                        }

                                                    </i>
                                                </div>
                                                        }
                                        </div>
                                        <div id="notificationFooter"><a href="#">See All</a></div>
                                    </div>
                                                        }
                            </li>

                            <li>
                                @if (UserRepository.CurrentUser() != null)
                                {
                                    @Html.ActionLink("Hi " + UserRepository.CurrentUser().Name + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                                }

                            </li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
                        </ul>
                     }
                 }
            </div>
        </div>
        <div class="main-content">
            @Html.Partial("_FlashMessage")
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Project follow up</p>
            </footer>
        </div>
    </div>

    <div id="sidebar" class="main-sidebar">
        @Html.Partial("_Sidebare")
    </div>

 



 
</body>
</html>
