<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Project follow up</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)  
    

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
           <!--    
		     @Html.ActionLink("Nom d'application", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" }) 
	       -->
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                     <li> 
                        <a href="@Url.Action("Index", "Home")">
                            <i class="fa fa-list"></i> Projects
                        </a>
                     </li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li id="notification_li">
                        @using PUp.Models.Repository
                        <span id="notification_count">@UserRepository.CurrentUserNotifications().Count</span>
                        <a href="#" id="notificationLink">Notifications</a>
                        <div id="notificationContainer">
                            <div id="notificationTitle">Notifications</div>
                            <div id="notificationsBody" class="notifications">
                                @foreach (var notif in UserRepository.CurrentUserNotifications())
                                {
                                    <div class="notificationElement" data-idnotif="@notif.Id" >
                                        <blockquote> <b>@notif.Message</b>  </blockquote>   at: <i>@notif.CreateAt</i> <br />
                                    </div>
                                }
                                
                            </div>
                            <div id="notificationFooter"><a href="#">See All</a></div>
                        </div>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Project follow up</p>
        </footer>
    </div>
    <script src="~/Scripts/src/app/Shared/Models/Entity.js"></script>
    <script src="~/Scripts/src/app/Shared/HttpCall.js"></script>
    <script src="~/Scripts/src/MainApp.js"></script>
    <script src="~/Scripts/src/app/Project.js"></script>
    
    
</body>
</html>
