<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="~/Project.ico" />
    <title>@ViewBag.Title - Project follow up</title>
    @Styles.Render("~/Scripts/style/Content/css")
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/sidebare")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)



</head>
<body>
    <div id="wrapper">
        <div class="main-navbar main-navbar-fixed-top" id="main-navbar">
            <div class="main-navbar-content">
                <div class="icon left" id="toggle-sidebar">
                    <i class="fa fa-navicon fa-2x"></i>
                </div>
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()

                        <ul class="nav navbar-nav navbar-right">
                            <li id="notification_li">
                                @using PUp.Models.Repository
                                @if (@UserRepository.CurrentUserNotifications().Count > 0)
                                {
                                    <span id="notification_count">@UserRepository.CurrentUserNotifications().Count</span>
                                    <a href="#" id="notificationLink">Notifications</a>
                                    <div id="notificationContainer">
                                        <div id="notificationTitle">Notifications</div>
                                        <div id="notificationsBody" class="notifications">
                                            @foreach (var notif in UserRepository.CurrentUserNotifications().OrderByDescending(c => c.AddAt))
                                            {
                                                <div class="notificationElement notificationElement_@(notif.Level)"
                                                     data-idnotif="@notif.Id" id="@notif.Id">
                                                    <i style="font-size:19px;" class="fa fa-remove pull-right"> </i>
                                                    @notif.Message     <br />
                                                    @{ var diff = DateTime.Now - notif.AddAt;  }
                                                    <i>
                                                        @if (diff.TotalMinutes < 1)
                                                        {
                                                            <span>@((int)diff.TotalSeconds) s ago</span>
                                                        }
                                                        else if (diff.TotalHours < 1)
                                                        {
                                                            <span>@((int)diff.TotalMinutes) min ago</span>
                                                        }
                                                        else if (diff.TotalDays < 1)
                                                        {
                                                            <span>since: @notif.AddAt.ToString("HH\\Hmm")</span>
                                                        }
                                                        else
                                                        {
                                                            <span>since: @notif.AddAt.ToString("d-MM-yyyy HH\\Hmm")</span>
                                                        }

                                                    </i>
                                                </div>
                                                        }
                                        </div>
                                        <div id="notificationFooter"><a href="#">See All</a></div>
                                    </div>
                                                        }
                            </li>

                            <li>
                                @if (UserRepository.CurrentUser() != null)
                                {
                                    @Html.ActionLink("Hi " + UserRepository.CurrentUser().Name + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                                }

                            </li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
                        </ul>
                                                            }
                                                        }
            </div>
        </div>
        <div class="container-fluid">
            @Html.Partial("_FlashMessage")
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Project follow up</p>
            </footer>
        </div>
    </div>

    <div id="sidebar" class="main-sidebar">
        <!--
        Simple-Sidebar will handle #sidebar's position.
        Links below are just an example. Give each clickable element, for example links, a class to trigger the closing animation.
        -->
        <a class="close-sidebar" href="#">Link</a>
        <a class="close-sidebar" href="#">Link</a>
        <a class="close-sidebar" href="#">Link</a>
        <a class="close-sidebar" href="#">Link</a>
    </div>


    <script src="~/Scripts/src/app/Shared/HttpCall.js"></script>
    <script src="~/Scripts/src/app/Shared/Models/Entity.js"></script>
    <script src="~/Scripts/src/app/Tasks/TaskApp.js"></script>
    <script src="~/Scripts/src/MainApp.js"></script>
    <script>
        $(document).ready(function () {
            $('#sidebar').simpleSidebar({
                opener: '#toggle-sidebar',
                wrapper: '#wrapper',
                sidebar: {
                    align: 'left', //or 'right' - This option can be ignored, the sidebar will automatically align to right.
                    width: 300, //You can ignore this option, the sidebar will automatically size itself to 300px.
                    closingLinks: '.close-sidebar', /* If you ignore this option, the plugin will look for all
                    links and this can be buggy. Choose a class for every object inside the
                    sidebar that once clicked will close the sidebar*/
                    css: {
                        //Here you can add more css rules but you should use your own stylesheet.
                        zIndex: 3000 //Choose the amount of zIndex you want. It must be the higher zIndex number.
                    }
                }
            });
        });
    </script>
</body>
</html>
