<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="~/Project.ico" />
    <title>@ViewBag.Title - Project follow up</title>
    @Styles.Render("~/Scripts/style/Content/css")
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)  
    


</head>
<body>
    
    <div id="conf-notif" data-urlmarkseen=" "></div>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
           <!--    
		     @Html.ActionLink("Nom d'application", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" }) 
	       -->
            </div>
           
            <div class="navbar-collapse collapse">
                @if (Request.IsAuthenticated)
                {
                    <ul class="nav navbar-nav">
                         <li>
                            <a href="@Url.Action("Index", "Dashboard")">
                                <i class="fa fa-list"></i> Dashboard
                            </a>
                         </li>
                         <li> 
                            <a href="@Url.Action("Index", "Home")">
                                <i class="fa fa-list"></i> Projects
                            </a>
                         </li>
                    </ul>
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @Html.Partial("_FlashMessage")
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Project follow up</p>
        </footer>
    </div>
    <script src="~/Scripts/src/app/Shared/HttpCall.js"></script>
    <script src="~/Scripts/src/app/Shared/Models/Entity.js"></script>
    <script src="~/Scripts/src/app/Tasks/TaskApp.js"></script>
    <script src="~/Scripts/src/MainApp.js"></script>
</body>
</html>
