@model PUp.Models.Entity.ProjectEntity

<div class="project-title-container">
    <h3 style="border-bottom: 1px solid #E0E0E0;padding-bottom: 4px;">
        <a href="@Url.Action("Info", "Project", new {id = Model.Id })">
            @Model.Name
        </a>
    </h3>
    <div class="card-block">
        <p class="card-text card-text-no-float" style="font-size: 12px; margin-top: -6px;">
            From: <b>@Model.StartAt.ToString("dd MMM yyyy")</b>
            To  : <b>@Model.EndAt.ToString("dd MMM yyyy")</b>
            &emsp;
            Owner: <b>@Model.Owner.Name</b>
            &emsp;
            Progress:
            @if (Model.Tasks.Count() > 0)
            {
                <span>@((int)(Model.Tasks.Where(t => t.Done == true).Count() / (float)Model.Tasks.Count() * 100))%</span>
            }
            else
            {
                <b>0 %</b>
            }
            &emsp;
            <span style="color:crimson;"> @((int)(Model.EndAt - DateTime.Now).TotalDays) days left</span>
            &emsp;
            <a href="@Url.Action("Index", "Task", new { id = Model.Id } )">
                <i class="fa fa-arrow-circle-right"></i> Tasks (@Model.Tasks.Count())
            </a>
            &emsp;
            <a href="@Url.Action("Matrix", "Project", new { id = Model.Id } )">
                <i class="fa fa-arrow-circle-right"></i> Matrix
            </a>
            &emsp;
            <a href="@Url.Action("Timeline", "Project", new { id = Model.Id } )">
                <i class="fa fa-arrow-circle-right"></i> Timeline
            </a>
        </p>
    </div>
</div>

