@model PUp.ViewModels.Project.ProjectTimelineViewModel
@using PUp.Models.Entity


<div class="timeline-centered">

    @foreach (var element in Model.Elements)
            {
                if (element is TaskEntity)
                {
            <article class="timeline-entry">
                <div class="timeline-entry-inner">
                    <div class="timeline-icon timeline-icon-task">
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="timeline-label">
                        <span>
                            <span class="pull-right"> @(  ((TaskEntity)element).AddAt.ToString("dd MMM H'h'mm") )  </span>  @(  ((TaskEntity)element).Title )
                        </span>
                        <p>
                            @(  ((TaskEntity)element).Description )
                        </p>
                    </div>
                </div>
            </article>
        }
        if (element is NotificationEntity)
        {
            <article class="timeline-entry">
                <div class="timeline-entry-inner">
                    <div class="timeline-icon bg-secondary">
                        <i class="fa fa-bullhorn"></i>
                    </div>
                    <div class="timeline-label">
                        <span>
                            @(  ((NotificationEntity)element).Message )
                            <span class="pull-right">@( ((NotificationEntity)element).AddAt.ToString("dd MMM H'h'mm") ) </span>
                        </span>

                    </div>
                </div>
            </article>
        }
        if (element is IssueEntity)
        {
            <article class="timeline-entry">
                <div class="timeline-entry-inner">
                    <div class="timeline-icon border-danger" style="border-color: #FF5722;">
                        <i class="fa fa-exclamation-circle"></i>
                    </div>
                    <div class="timeline-label timeline-label-yellow">
                        <span>
                            Status:  @(  ((IssueEntity)element).Status == "0" ? "In progress" : "Done" )
                            <span class="pull-right">@(  ((IssueEntity)element).AddAt.ToString("dd MMM H'h'mm") ) </span>
                        </span>
                        <p>
                            Description:   @( ((IssueEntity)element).Description )
                        </p>
                        <p>Related area(s):  @( ((IssueEntity)element).RelatedArea ) </p>
                    </div>
                </div>
            </article>
        }
    }

</div>

