@model  PUp.ViewModels.DashboardModelView
@{
    ViewBag.Title = "My DashBorad";
}


<div class="row">
    <div class="col-md-12">
        <h2>My DashBorad</h2>

        <div class="col-md-6" style="background: rgba(158, 158, 158, 0.19);">
            <h4>Current-Day</h4>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Title</td>
                            <td>Done</td>
                            <td>Key factor</td>
                            <td>Start</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var task in Model.CurrentTasks)
                        {
                            <tr class="v @(@task.Done ? "done" : " ")">
                                <td> @task.Title</td>
                                <td>
                                    @if (task.Done)
                                    {
                                        @task.FinishAt
                                    }
                                    else { <b>In progress</b>}
                                </td>

                                <td> @(task.KeyFactor ? "Yes" : "No")</td>
                                <td> 
                                    @(task.StartAt?.ToString("HH:mm")) 
                                </td>
                                <td>
                                    <button class="btn changeState" id="@task.Id">
                                        <i class="fa fa-check-square"></i> Mark done
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>



        <div class="col-md-6" style="background: rgba(255, 235, 59, 0.36);">
            <h4> Other tasks waiting! </h4>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Title</td>
                            <td>Description</td>
                            <td>Key factor</td>
                            <td>Added at</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var task in Model.OtherTasks)
                        {
                            <tr class="v @(@task.Done ? "done" : " ")">
                                <td> @task.Title</td>
                                <td> @task.Description</td>


                                <td> @(task.KeyFactor ? "Yes" : "No")</td>
                                <td>@task.AddAt.ToString("HH:mm d-MMM yyyy ")</td>
                                <td>
                                    <button class="btn changeState" id="@task.Id">
                                        <i class="fa fa-check-square"></i> Mark done
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>



    </div>
</div>
