@model  PUp.ViewModels.DashboardModelView
@{
    ViewBag.Title = "My DashBorad";
}
<div class="row">
    <div class="col-md-12">
        <h2>My DashBorad</h2>

        <div class="col-md-6" style="background: rgba(158, 158, 158, 0.05);">
            <h4>Current-Day</h4>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Title</td>
                            <td>time </td>
                            <td>Start</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var task in Model.CurrentTasks)
                        {
                            <tr class="v @(@task.Done ? "done" : " ")">
                                <td> @task.Title</td>
                                <td> @(task.EstimatedTimeInMinutes / 60) Hour(s)</td>
                                <td>
                                    @(task.StartAt?.ToString("HH:mm")) | 
                                    @if (task.StartAt < DateTime.Now && (task.StartAt.GetValueOrDefault() - DateTime.Now).TotalMinutes + task.EstimatedTimeInMinutes > 0)
                                    {
                                        <span style="color:red;">
                                            Time left: @(
                                           (int)(task.StartAt.GetValueOrDefault() - DateTime.Now).TotalMinutes + task.EstimatedTimeInMinutes) min
                                        </span>
                                    }
                                    else if (task.StartAt > DateTime.Now)
                                    {
                                        <span>Start in: @((int)(task.StartAt.GetValueOrDefault() - DateTime.Now).TotalMinutes) min</span>
                                    }
                                    else
                                    {
                                        <span style="color:red;">Time is over!</span>
                                    }
                                    </td>
                                <td>
                                    @if (!task.Done)
                                    {
                                        <a href="@Url.Action("MarkDone", "Task", new { id = task.Id } )" class="btn changeState" id="@task.Id">
                                            <i class="fa fa-check-square"></i> Mark done
                                        </a>

                                    }
                                    else
                                    {
                                        <b style="text-decoration:none !important"><i class="fa fa-music"></i> Nice job</b>
                                    }

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>



        <div class="col-md-6" style="background: rgba(255, 235, 59, 0.36);">
            @if (Model.IsWorkingDayOver())
            {
                <b>Working hours are over, please come tomorrow!</b>
            }
            else
            {
                <h4> Other tasks waiting! </h4>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Title</td>
                                <td>Key factor</td>
                                <td>Added at</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var task in Model.OtherTasks)
                            {
                                <tr class="v @(@task.Done ? "done" : " ")">
                                    <td> @task.Title</td>
                                    <td> @(task.KeyFactor ? "Yes" : "No")</td>
                                    <td>@task.AddAt.ToString("HH:mm d-MMM ")</td>
                                    <td>
                                        <a href="@Url.Action("SetDate", "Task", new { id = task.Id } )" class="btn changeState" id="@task.Id">
                                            <i class="fa fa-check-square"></i> Plan for today
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }

        </div>



    </div>
</div>
