@model PUp.Models.Entity.ProjectEntity
@{
    ViewBag.Title = "Issues list";
}

<div class="col-md-12">
    <div class="row">
        @Html.Partial("_ProjectHeader", Model)
    </div>

    <br />
    <div class="row">
        <a href="@Url.Action("Add", "Issue", new { id = Model.Id } )" class="btn">
            Add another Issue
        </a>
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">
                    <b>Issues list for project: @Model.Name</b>
                </div>

            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Created at</td>
                            <td>Status</td>
                            <td>Submitter</td>
                            <td>Description</td>
                            <td>Related area(s)</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var issue in Model.Issues.OrderByDescending(i => i.AddAt))
                        {
                            <tr class="v  issue-@issue.Status ">
                                <td> @issue.AddAt.ToString("d MMM yyyy HH'h'mm")</td>
                                <td>
                                    @if (issue.Status == "Resolved")
                                    {
                                        <b>Resolved</b>
                                    }
                                    else { <b>Open</b>}
                                </td>
                                <td>@issue.Submitter.Name</td>
                                <td>@issue.Description</td>
                                <td>@issue.RelatedArea</td>
                                <td>
                                 @if (issue.Status == "Open")
                                 {
                                    @Html.ActionLink("Mark resolved", "MarkResolved", "Issue", new { projectId = Model.Id, issueId = issue.Id }, new { @class = "btn" })
                                 }
                                   
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

